/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content: left;
	align-items: center;
}
#venu{
	object-fit:cover;
}
#vish{
	padding:5px;
	background-color:red;
	color: white;
	border-radius:0px;
}
